* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #cbe6ff;
  &:hover {
    background: #1890ff;
  }
}
html, body {
  height: 100%;
  width: 100%;
}
#nprogress .bar {
  background: #1890ff !important; //自定义颜色
}
.admin {
  &-logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  &-collapsed {
    font-size: 20px;
    margin-left: 10px;
    color: #333;
    cursor: pointer;
    flex: 1 auto;
  }
  &-slider {
    background: #001529;
    &-block {
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  &-content {
    background: #f0f2f5;
    &-block {
      min-height: 500px;
      padding: 16px;
    }
  }
  &-menu {
    &-link {
      display: inline-block;
      width: 100%;
    }
  }
  &-header {
    &-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      .admin-nav {
        width: 100px;
        display: flex;
        flex-direction: row;
      }
      .admin-shrink {
        font-size: 20px;
        color: #ccc;
        cursor: pointer;
      }
      .admin-avatar {
        margin-left: 20px;
      }
    }
  }
}